[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/mokezhang/simple-knn.git
	branch = main_mokezhang
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/mokezhang/diff-gaussian-rasterization.git
	branch = main_mokezhang
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
